@import '../../../../styles/variable/import';
@import '../../../../styles/function/import';


.feed--share-preview__container {
    margin-block-end: getSizeInEm(12px);
    width: getSizeInRem(470px);

    &:not(:last-of-type) {
        padding-block-end: getSizeInEm(20px);
        border-block-end: 1px solid getColor("seperator");
    }

    &:not(:first-of-type) .details-container {
        margin-block-start: getSizeInEm(8px);
    }

    .details-container {
        display: grid;
        grid-template-columns: auto 1fr;

        margin-block-end: getSizeInEm(8px);

        .details {
            display: flex;
            flex-direction: column;

            margin-inline-start: getSizeInEm(6px);
            justify-content: end;

            .user-and-time-container {
                display: flex;

                .creator-name {
                    font-weight: 600;
                    line-height: getSizeInEm(18px);
                }

                .verified-user-indicator {
                    color: getColor("primary-button");

                    svg {
                        position: absolute;
                        top: getSizeInEm(4px);
                        left: getSizeInEm(4px);
                    }
                }

                .published-time {
                    position: relative;

                    color: getColor("secondary-text");
                    margin-inline-start: getSizeInEm(32px);

                    &::before {
                        content: "•";
                        position: absolute;
                        left: getSizeInEm(-10px);
                    }
                }
            }

            .location {
                font-size: getSizeInEm(12px);
                line-height: getSizeInEm(18px);
            }
        }
    }

    .media-container {
        overflow: hidden;
        border-radius: getSizeInEm(4px);
        margin-block-end: getSizeInEm(4px);

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    .actions-container {
        display: flex;

        .common--icon__container {
            cursor: pointer;
            padding: getSizeInEm(8px);

            &.hover-able:hover {
                color: getColor("icon-hover")
            }
        }

        .start-panel {
            display: flex;
            flex-grow: 1;

            .common--icon__container {
                &:first-of-type {
                    padding-inline-start: 0;
                }

                &.liked {
                    color: getColor("primary-red");
                }

                &.liked-indicator {

                    &.liked,
                    &.hover-out {
                        transition: transform .3s;
                        animation: pulse .2s forwards 1;
                    }

                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.2);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .end-panel {
            .common--icon__container:last-of-type {
                padding-inline-end: 0;
            }
        }
    }

    .reactions-container {
        .like-counter {
            font-weight: 600;
            line-height: getSizeInEm(18px);
        }
    }
}