@import '/src/styles/basic/base';
@import '/src/styles/variable/import';
@import '/src/styles/function/import';
@import '/src/styles/mixin/import';

.feed--moment-text__container {
    max-width: 100%;

    .text-container {
        overflow: hidden;
        text-overflow: clip;
        word-break: break-word;
        max-width: 470px;
        height: 18px;

        &.full-height {
            height: max-content;
        }

        .nickname {
            font-weight: 600;
            line-height: 18px;
            margin-inline-end: 4px;
        }
    }

    button {
        display: block;

        cursor: pointer;
        border: none;
        background-color: transparent;
        color: getColor("secondary-text");
        padding-inline: 0;
        text-align: left;
        width: 100%;
    }
}