@import '/src/styles/mixin/import';
@import '/src/styles/variable/import';

.app-layout__container {
    @include viewport-wide-start-from(getViewport("small"), false) {
        display: grid;
        grid-template-columns: 72px 1fr;
    }

    @include viewport-wide-start-from(getViewport("large"), false) {
        grid-template-columns: 244px 1fr;
    }

    @include viewport-wide-start-from(getViewport("wide"), false) {
        grid-template-columns: 335px 1fr;
    }
}