@import '/src/styles/mixin/import';
@import '/src/styles/variable/import';

.layout--navigation-item__container {
    box-sizing: border-box;
    @include clean-list-style;
    cursor: pointer;

    border-radius: .5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 12px;

    @include viewport-wide-up-to(getViewport("large")) {
        max-width: max-content;
    }

    transition: background-color .3s;

    &:hover {
        background-color: rgba(0, 0, 0, .05);

        .common--icon__container {
            transform: scale(1.1);
        }
    }

    &:active {
        color: #7f7f7f;
    }

    &.with-image img {
        border-radius: 50vw;
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 24px;
    }

    a {
        display: flex;
        align-items: center;
        gap: 1em;

        color: currentColor;
        text-decoration: none;

        &.active {
            font-weight: 700;
        }

        .common--icon__container {
            transition: transform .3s;
        }

        .text {
            @include viewport-wide-up-to(getViewport("large")) {
                display: none;
            }
        }
    }
}