@import '/src/styles/mixin/import';
@import '/src/styles/variable/import';

.layout--navigation-item__container {
    position: relative;

    box-sizing: border-box;
    @include clean-list-style;
    cursor: pointer;

    border-radius: .5em;
    font-size: 16px;
    line-height: 1.5em;
    padding: 12px;
    transition: background-color .3s;

    @include viewport-wide-up-to(getViewport("large")) {
        max-width: max-content;
    }

    &:hover {
        @include viewport-wide-start-from(getViewport("small"), false) {
            background-color: rgba(0, 0, 0, .05);

            .tooltip {
                opacity: 1;
                transform: translateY(-50%) scale(1);
            }
        }

        .common--icon__container {
            transform: scale(1.1);
        }
    }


    &:active {
        color: #7f7f7f;
    }

    &.with-image {
        a {
            &.active img {
                // Should get replaced with :has selector when Firefox will suppoer it
                border: 2px solid black;
            }

            img {
                border-radius: 50vw;
                aspect-ratio: 1/1;
                object-fit: cover;
                width: 24px;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 1em;

        color: currentColor;
        text-decoration: none;

        &.active {
            font-weight: 700;
        }

        .common--icon__container {
            transition: transform .3s;
        }

        .text {
            @include viewport-wide-up-to(getViewport("large")) {
                display: none;
            }
        }
    }

    @include viewport-wide-up-to(getViewport("small"), true) {
        .tooltip {
            display: none;
        }
    }

    @include viewport-wide-start-from(getViewport("small"), false) {
        .tooltip {
            position: absolute;
            top: 50%;
            left: 4.5em;

            opacity: 0;
            border-radius: .5em;
            font-size: 14px;
            padding: .4em .8em;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
            transform: translateY(-50%) scale(0);
            transition: transform ease-in .3s;
            transition-delay: 1s;


            &:before {
                content: "⏴";
                position: absolute;
                top: 50%;
                left: -14px;
                transform: translateY(-60%);
                color: #f1f1f1;
                font-size: 25px;
                text-shadow: 0 0 20px black;
            }
        }
    }
}