@import '/src/styles/variable/import';
@import '/src/styles/mixin/import';


.views--feed__container {
    @include viewport-wide-start-from(getViewport("small"), false) {
        border-inline-start: 1px solid getColor("seperator");
    }

    .centerize {
        display: flex;
        justify-content: space-between;

        margin: 3.5rem auto 0;
        max-width: 73rem;

        @include viewport-wide-up-to(getViewport("medium"), false) {
            justify-content: center;
            padding-inline: .25rem;
        }
    }
}