@import '../../../../../styles/variable/import';
@import '../../../../../styles/function/import';


.feed--suggestion-list__container {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-block-end: getSizeInEm(18px);

        span {
            color: getColor("secondary-text");
            font-weight: 600;
            line-height: getSizeInEm(18px);
        }

        a {
            color: black;
            font-size: getSizeInEm(12px);
            font-weight: 600;
            line-height: getSizeInEm(16px);
            text-decoration: none;
            letter-spacing: .5px;
        }
    }

    .suggestions {
        display: flex;
        flex-direction: column;
        gap: getSizeInEm(18px);
    }
}